# Ignore everything
*

# But not these files...
!.gitignore
!*.xml
!*.py
!*.tga
!*.dds
!*.nif
!*.ini
!*.bak
!*.mp3
!*.kfm
!*.kf
!*.wav

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
